.FieldSelector {
	height: 150px;
	width: 200px;
	line-height: 150px;
	text-align: center;
	border: 2px dashed #f69c55;
	margin: auto;
	margin-left: 10px;
	padding: 10px;
	display: inline-block;
}

.FieldSelector:hover {
	cursor: pointer;
}