.Selector {
	width: 350px;
	height: 300px;
	background-color: rgb(159, 194, 249);
	border-radius: 5%;
	margin: auto;
	margin-top: 20px;
	overflow: auto;
	z-index: 100
}


.Selector::-webkit-scrollbar {
    width: 15px;
}


.Selector::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}


.Selector::-webkit-scrollbar-thumb {
    background: #7396ce; 
    border-radius: 10px;
}